{% extends 'sns/q_base.html' %}
{% load static %}

{% block content %}

<div class="form-box">
  {% if question %}
    <div class="card">
      <div class="card-header">
        <h2>{{ question.title }}</h2>
        <p>{{ question.q_date | date:"Y年m月d日" }}</p>
      </div>
      <div class="card-body">
        <p>{{ question.text }}</p>
        {% if question.q_image %}
          <img src="{{ question.q_image.url }}" style="width: 70%; height: auto;">
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div style=" background-color: rgb(230, 248, 255); padding: 20px 20px 45px 0; margin: 20px 0;">
    <form class="ui form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <p style="padding-left: 20px;">コメント編集</p>
      <ul style="list-style: none;">
        <li>
          {{ form.name }}
          {{ form.name.errors }}
        </li>
        <li>
          {{ form.text }}
          {{ form.text.errors }}
        </li>
        <li>
          {{ form.a_image }}
          {{ form.a_image.errors }}
        </li>
      </ul>
      <input type="submit" class="btn btn-primary float-end" style="font-size: 0.8rem;" value="保存">
    </form>
  </div>
</div>
{% endblock %}