{% extends 'sns/base.html' %}
{% load static %}

{% block content %}

<h1>Welcome!</h1>
<div class="top_image">
  <a class="nav-link" href="{% url 'signup' %}">サインアップ</a>
  <a class="nav-link" href="{% url 'login' %}">ログイン</a>
</div>

<div class="time_line post_line">
{% for post in object_list reversed %}
    <div class="card" style="border-radius: 0; width: 40%;">
        <div class="card-body" style="padding: 0;">
            <div class="card-header">
                <p>@{{ post.user }}</p>
            </div>
            {% if post.post_image %}
            <img src="{{ post.post_image.url }}" style="width: 100%; height: auto; padding-bottom: 20px;">
            {% endif %}
            <p class="card-text" style="font-size: 1.2rem;">{{ post.caption|linebreaksbr }}</p>
            <p class="card-text" style="font-size: 1rem;">{{ post.post_tag.name }}</p>

            <div class="card-footer">
                <p class="card-text">{{ post.post_date }}</p>
                <i class="far fa-heart like-btn" style="color: rgb(95, 95, 95);"></i> {{post.good.count}}
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}