{% extends 'sns/base.html' %}
{% load widget_tweaks %}

{% block content %}

<h3 style="width: 180px; margin: 40px auto;">お子さまの情報</h3>

<div class="form-box" style="width: 600px;">
    <form method="POST" enctype="multipart/form-data">
      {% if child_list %}
      <div  class="child_list">
        {% for child in child_list %}
          <div class="child">
            {% if child.gender == '2' %}
              <i class="fas fa-child fa-2x" style="color: rgb(0, 110, 255);"></i>
            {% elif child.gender == '3' %}
              <i class="fas fa-child fa-2x" style="color: rgb(253, 72, 172);"></i>
            {% else %}
              <i class="fas fa-child fa-2x p_color"></i>
            {% endif %}
            <p>{{ child.name }}</p>
            <p><i class="fas fa-birthday-cake"></i>{{ child.birth_date }}</p>
            <p>{{ child.calc_age }}歳</p>
            <p><a href="{% url 'delete_child_infomation' child.pk %}">削除</a></p>
          </div>
        {% endfor %}
      </div>
      {% endif %}
        <ul class="add_child">
          <li>
            <label>名前</label>
            {{ form.name |add_class:"form-control" }}
            {{ form.name.errors }}
          </li>
          <li>
            <label>性別</label>
            {{ form.gender |add_class:"form-control" }}
            {{ form.gender.errors }}
          </li>
          <li>
            <label>生年月日</label>
            {{ form.birth_date |add_class:"form-control" }}
            {{ form.birth_date.errors }}
          </li>
        </ul>
      <div class="float-end" style="display: felx;">
        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">登録</button>
        <a href="{% url 'profile_update' self_account.pk %}" class="btn btn-outline-secondary">戻る</a>
      </div>
      {% csrf_token %}
    </form>
</div>
{% endblock %}