{% extends 'sns/base.html' %}

{% block content %}

    <!-- プロフィール情報 -->

    <h2>{{ object.first_name }}</h2>

        {% if object.user in following.0.following.all %}<!-- contextから情報が渡ってきている -->
            <a href="{% url 'follow_mypage' object.username %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-user-check" style="color: rgb(0, 98, 255);"></i></a>
        {% else %}
            <a href="{% url 'follow_mypage' object.username %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-user-plus" style="color: rgb(167, 166, 166);"></i></a>
        {% endif %}


        {% for post in object.post_set.all %}
        <div　class="card">
            <div class="card-body" style="width: 50rem; border: solid 1px; padding: 0;">
                <div class="card-header">
                    <a href="{% url 'mypage' post.user_id %}" >@{{ post.user_id }}</a>
                </div>
                {% if post.post_image %}
                <img src="/{{ post.post_image.url }}" download="output" style="width: 300px; height: auto;">
                {% endif %}
                <p class="card-text" style="font-size: 1.5rem;">{{ post.caption|linebreaksbr }}</p>
                <p class="card-text" style="font-size: 0.9rem;">{{ post.post_tag.name }}</p>
                <div class="card-footer">
                    <p class="card-text">{{ post.post_date }}</p>
                    <a href="{% url 'detail' post.pk %}" class="btn btn-outline-secondary btn-sm">詳細</a>
                </div>
            </div>
        </div>
        {% endfor %}


{% endblock %}