{% extends 'sns/base.html' %}

{% block content %}

<div style="display: flex; padding-left: 2rem;">
    <div style="width: 200px; height: 200px;">
        {% if account.account_image %}
            <img src="{{ account.account_image.url }}" download="output" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%;">
        {% else %}
            <i class="fas fa-user-circle" style="color: rgb(167, 166, 166);"></i>
        {% endif %}
    </div>

    <div style="margin-top: auto; padding-left: 4rem;">
        <div>
            <h2>{{ account.user.first_name }}</h2>
            <p>@{{ account.user.username }}</p>
        </div>

        <div>
            {% if request.user == account.user %}
                <a href="{% url 'profile_update' account.pk %}" class="btn btn-outline-secondary btn-sm">プロフィール編集</a>
                <a href="{% url 'account_setting' account.pk %}"><i class="fas fa-cog fa-lg" style="color: rgb(125, 125, 126);"></i></a>
            {% else %}
            
                {% if follow_data %}
                    <form action="{% url 'unfollow' account.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="フォロー解除" class="btn btn-success" style="width: 100px;">
                    </form>
                {% else %}
                    <form action="{% url 'follow' account.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="フォロー" class="btn btn-outline-success" style="width: 100px;">
                    </form>
                {% endif %}

            {% endif %}
        </div>

        <div style="display: flex; margin-top: 20px;">
            <p>フォロー {{ account.follow_num }}</p>
            <p style="padding-left: 15px;">フォロワー {{ account.follower_num }}</p>
        </div>
    </div>
    

</div>

<div style="margin: 30px 0;">
    {% if account.intro %}
        <p>{{ account.intro | linebreaksbr }}</p>
    {% endif %}
    {% if account.location %}
        <p style="color: rgb(107, 107, 107);"><i class="fas fa-map-marker-alt"></i> {{ account.location }}</p>
    {% endif %}
</div>


    <!-- ポップアップウィンドウで表示 -->
    {% if follow_list %}
    <div class="follow_list" style="border: 1px solid; width: 200px;">  <!-- 仮スタイル -->
        <p>フォローしているユーザー</p>
        <ul style="list-style: none;">
            {% for follow in follow_list %}
            <li><i class="fas fa-user" style="color: rgb(107, 107, 107);"></i> <a href="{% url 'mypage' follow.follow_target.pk %}">{{ follow.follow_target.user.first_name }}   @{{ follow.follow_target.user.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if follower_list %}
    <div class="follow_list" style="border: 1px solid; width: 200px;">  <!-- 仮スタイル -->
        <p>フォロワー</p>
        <ul style="list-style: none;">
            {% for follower in follower_list %}
            <li><i class="fas fa-user" style="color: rgb(107, 107, 107);"></i> <a href="{% url 'mypage' follower.owner.pk %}">{{ follower.owner.user.first_name }}   @{{ follower.owner.user.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    {% for post in object.post_set.all reversed %}
        <div　class="card">
            <div class="card-body" style="width: 30%; padding: 0;">
                <a href="{% url 'detail' post.pk %}">
                    {% if post.post_image %}
                    <img src="{{ post.post_image.url }}" download="output" style="width: 100%; padding: 20px;">
                    {% endif %}
                </a>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}