{% extends 'sns/base.html' %}
{% load static %}
{% load myfilters %}

{% block content %}
<div class="search_contents">
  <div class="search_tabs">
    <a href="{% url 'post_search' %}" class="active">投稿検索</a>
    <a href="{% url 'account_search' %}">ユーザー検索</a>
  </div>
  <div style="margin: auto 20px;">
    <form class="d-flex input-group" method="get">
      <div class="form-outline">
        <input name="query" value="{{ request.GET.query }}" id="search-input" class="form-control" id="form1" type="search" placeholder="Search" style="width: 250px;">
      </div>
      <button type="submit"  id="search-button"  class="btn" style="background-color: rgb(42, 165, 63);"><i class="fas fa-search" style="color: white;"></i></button>
    </form>
  </div>
</div>

<!-- トレンドタグ表示 -->
<div class="trend_tag post_tag">
  <p>トレンドタグ</p>
  {% if tag_rank %}
  <ul>
      {% for tag in tag_rank %}
          <li><p>#{{ tag.name |convert_linking_post_tag_rank }}{{ tag.tag_count }}</p></li>
      {% endfor %}
  </ul>
  {% endif %}
</div>


<div class="time_line post_line">
{% if object_list%}
  {% for post in object_list %}
      <div class="postcard" style="border-radius: 0; padding: 0;">
          <div class="postcard-body" style="padding: 0;">
            <div class="postcard-header" style="display: flex;">
              <div class="account_image" style="width: 2rem; height: 2rem;">
                  {% if post.user.account_image %}
                      <img src="{{ post.user.account_image.url }}" download="output" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%;">
                  {% else %}
                      <i class="fas fa-user-circle fa-2x" style="color: rgb(167, 166, 166);"></i>
                  {% endif %}
              </div>
              <a href="{% url 'mypage' post.user.pk %}" style="margin: auto 0; padding-left: 0.5rem; text-decoration: none;">@{{ post.user }}</a>
            </div>

              {% if post.post_image %}
              <img src="{{ post.post_image.url }}" style="width: 100%; height: auto; padding-bottom: 20px;">
              {% endif %}

            <div  style="padding: 0 20px;">
                <p class="card-text" style="font-size: 1.2rem;">{{ post.caption |linebreaksbr }}</p> <!-- |convert_linking_post_tag -->
                <div style="display: flex; justify-content: space-between;">
                    <p class="card-text" style="color: rgb(167, 166, 166);">{{ post.post_date | date:"Y年m月d日" }}</p>
                    <div class="float-end" style="padding-right: 10px;">
                      <a href="{% url 'detail' post.pk %}" class="btn btn-outline-secondary btn-sm">詳細</a>
                      {% if request.user in post.good.all %}
                          <a href="{% url 'good_post_search_remove' post.pk %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-heart like-btn fa-lg" style="color: red;"></i></a> {{post.good.count}}
                      {% else %}
                          <a href="{% url 'good_post_search' post.pk %}" class="like-btn" tabindex="-1" role="button" aria-disabled="true"><i class="far fa-heart like-btn fa-lg" style="color: rgb(95, 95, 95);"></i></a> {{post.good.count}}
                      {% endif %}
                    </div>
                </div>
            </div>
            
          </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="massage">該当する投稿はありませんでした。</p>
  {% endif %}
</div>

{% endblock %}