{% extends 'sns/base.html' %}

{% block content %}

<form method="POST">
        {% csrf_token %}
    <div class="card">
        <div class="card-body" style="width: 30rem; border: solid 1px; padding: 0;">
            <div class="card-header">
                <a href="{% url 'mypage' post.user.pk %}">@{{ post.user }}</a>
            </div>
            {% if post.post_image %}
            <img src="{{ post.post_image.url }}" style="width: 100%; height: auto; padding-bottom: 20px;">
            {% endif %}
            <p class="card-text" style="font-size: 1.5rem; height: 8rem;">{{ post.caption }}</p>
    
            <div class="card-footer">
                <p class="card-text">{{ post.post_date }}</p>
            </div>
        </div>
    </div>
    <br>
    <input class="btn btn-outline-danger btn-sm" style="width: 70px;" type="submit" value="削除する">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-secondary btn-sm">キャンセル</a>
</form>


    

{% endblock %}