{% extends 'sns/base.html' %}

{% block content %}

    <div style="width: 40%; margin: 30px auto;">
        {% if post.post_image %}
        <img src="{{ post.post_image.url }}" style="width: 100%; height: auto; padding-bottom: 20px;">
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div>
                {{ form.caption }}
                {{ form.caption.errors }}
            </div>
            <input type="submit" class="btn btn-primary float-end" style="margin-top: 20px;" value="保存">
        </form>
    </div>

{% endblock %}