{% extends 'sns/base.html' %}

{% block content %}

    <div>
        <p>{{ object.user.username }}</p>
        {% if object.user in connection.0.following.all %}
        <a href="{% url 'follow_mypage' object.pk %}" class="btn btn-danger ms-3" tabindex="-1" role="button" aria-disabled="true">フォロー解除</a>
        {% else %}
        <a href="{% url 'follow-mypage' object.pk %}" class="btn btn-primary ms-3" tabindex="-1" role="button" aria-disabled="true">フォロー</a>
        {% endif %}

        {{ post.caption }} <br>
        {{ post.post_date }} <br>

        {% if user.is_authenticated %}
            <a href="{% url 'update' post.pk %}">編集</a>
            <a href="{% url 'delete' post.pk %}">削除</a>
        {% endif %}

        {% if request.user in object.good.all %}
            <a href="{% url 'good_detail' object.pk %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-heart"></i></a>{{ object.good.count }}
        {% else %}
            <a href="{% url 'good_detail' object.pk %}" class="like-btn " tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-heart"></i></a>{{ object.good.count }}
        {% endif %}
    </div>

{% endblock %}