{% extends 'sns/base.html' %}

{% block content %}

    <h1>新規作成</h1>

    {% for field in form %}     <!-- 各ラベルとフィールドの表示 -->
        <div class="form-group">
            <label class="" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field.value }}
        </div>
    {% endfor %}

    <form  enctype="multipart/form-data" action="{% url 'register:user_data_input' %}" method="POST">     <!-- 入力内容を保存 -->
        <button type="submit" class="btn btn-primary btn-lg">戻る</button>
        {% for field in form %}{{ field.as_hidden }}{% endfor %}       <!-- フォームに表示しない -->
        {% csrf_token %}
    </form>
    <hr>
    <form action="{% url 'register:user_data_create' %}" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">投稿</button>
        {% for field in form %}{{ field.as_hidden }}{% endfor %}
        {% csrf_token %}
    </form>

{% endblock %}