{% extends 'sns/base.html' %}

{% block content %}

    <div style="width: 50%; margin: 50px auto;">
        <form method="POST" class="post_form" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="form_list">
                <li>
                    {{ form.post_image }}
                    {{ form.post_image.errors }}
                </li>
                <li>
                    <label>キャプション</label>
                    {{ form.caption }}
                    {{ form.caption.errors }}
                </li>
            </ul>
            <input type="submit" class="save btn btn-primary float-end" value="投稿">
        </form>
    </div>

{% endblock %}