{% extends 'sns/base.html' %}

{% block content %}
<div class="card">
    <div class="card-body" style="width: 50%; border: solid 1px; padding: 0;">
        <div class="card-header">
            <a href="{% url 'mypage' post.user.pk %}">@{{ post.user }}</a>
        </div>
        {% if post.post_image %}
        <img src="{{ post.post_image.url }}" style="width: 100%; height: auto;">
        {% endif %}
        <p class="card-text" style="font-size: 1.5rem; padding: 20px 0;">{{ post.caption|linebreaksbr }}</p>

        <div class="card-footer">
            <p class="card-text">{{ post.post_date }}</p>

            {% if account_pk == post.user %}
            <a href="{% url 'update' post.pk %}" class="btn btn-outline-secondary btn-sm">編集</a>
            <a href="{% url 'delete' post.pk %}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash-alt fa-lg"></i></a>
            {% endif %}


            {% if request.user in post.good.all %}
                <a href="{% url 'good_detail' post.pk %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-heart" style="color: red;"></i></a> {{post.good.count}}
            {% else %}
                <a href="{% url 'good_detail' post.pk %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i class="far fa-heart" style="color: rgb(167, 166, 166);"></i></a> {{post.good.count}}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}