{% extends 'sns/base.html' %}

{% block content %}

    <div class="form-box">
        {% if post.post_image %}
        <img src="{{ post.post_image.url }}" style="width: 100%; height: auto; padding-bottom: 20px;">
        {% endif %}
        <form method="POST" style="display: flex; flex-flow: column;">
            {% csrf_token %}
            <div>
                {{ form.caption }}
                {{ form.caption.errors }}
                <p class="input_count float-end"><span id="inputlength">0</span>文字 / 400文字</p><br>
            </div>
            <div>
                <p class="form-comment">ハッシュタグをつけることができます。<br>"#"の前にスペース・改行を入れてください。</p>
            </div>
            <div>
                <input type="submit" class="btn btn-primary float-end" style="z-index: 10;" value="保存">
            </div>
        </form>
    </div>

{% endblock %}