{% extends 'sns/q_base.html' %}

{% block content %}

  <div style="margin: 50px auto; display: flex; text-align: center;">
        <a href="{% url 'q_top' %}" style="width: 30%; padding: 10px; border: solid 1px black;">みんなの投稿</a>
      {% if account_pk %}
        <a href="{% url 'my_question' account_pk.pk %}" style="width: 30%; padding: 10px; border: solid 1px black;">自分の投稿</a>
      {% endif %}
  </div>

<!--   必要なら追加
  <div style="margin: 30px 0;">
    <form class="d-flex input-group" method="get">
      <div class="form-outline">
        <input name="query" value="{{ request.GET.query }}" id="search-input" class="form-control" id="form1" type="search" placeholder="Search" style="width: 250px;">
      </div>
      <button type="submit"  id="search-button" class="btn btn-primary"><i class="fas fa-search"></i></button>
    </form>
  </div> -->

  <div class="time_line">
    {% for question in object.question_set.all reversed %}
    <div class="card">
      <div class="card-body">
          <div style="padding-bottom: 10px;">
              <a href="{% url 'q_detail' question.pk %}" style="font-size: 1.5rem; color: black; font-weight: bold;">{{ question.title| truncatechars:18 }}</a>
          </div>
          <div style="display: flex; justify-content: space-between;">
              <p style="margin: 0; color: rgb(167, 166, 166);">{{ question.q_date | date:"Y年m月d日" }}</p>
              <p class="float-end" style="margin: 0;"><i class="fas fa-thumbs-up" style="color: rgb(167, 166, 166);"></i> {{question.q_good.count}}</p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
    <a href="{% url 'q_create' %}" class="stick-icon"><i class="fas fa-comment-dots fa-4x q_color"></i></a>
  {% endif %}

{% endblock %}