{% extends 'sns/q_base.html' %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <ul>
    <li>
      <label>タイトル（必須）</label>
      {{ form.title }}
      {{ form.title.errors }}
    </li>
    <li>
      <label></label>
      {{ form.q_image }}
      {{ form.q_image.errors }}
    </li>
    <li>
      <label></label>
      {{ form.text }}
      {{ form.text.errors }}
    </li>
  </ul>
  <input type="submit" class="save btn btn-primary" value="保存">
</form>

  {% endblock %}