{% extends 'sns/q_base.html' %}

{% block content %}
<div class="container" style="margin: 50px 0;">
  <div class="row">
      <a href="{% url 'q_top' %}" class="col col-6" style="border: 1px solid;">みんなの投稿</a>
  {% if account_pk %}
      <a href="{% url 'my_question' account_pk.pk %}" class="col col-6" style="border: 1px solid;">自分の投稿</a>
  {% endif %}
</div>
</div>
    <div style="width: 50%;">
        <form method="POST" class="question_form" enctype="multipart/form-data">
            <ul style="list-style: none;">
              <li>
                <label>タイトル（必須）</label>
                {{ form.title }}
                {{ form.title.errors }}
              </li>
              <li>
                <label></label>
                {{ form.q_image }}
                {{ form.q_image.errors }}
              </li>
              <li>
                <label></label>
                {{ form.text }}
                {{ form.text.errors }}
              </li>
            </ul>
            <input type="submit" class="save btn btn-primary" value="投稿">
            {% csrf_token %}
        </form>
    </div>

{% endblock %}