{% extends 'sns/question_base.html' %}
{% load static %}

{% block content %}

    <div class="q_tab">
        <a href="{% url 'question_top' %}" class="active">みんなの投稿</a>
        {% if self_account %}
        <a href="{% url 'my_question' self_account.pk %}" style="padding: 10px 55px">自分の投稿</a>
        {% endif %}
    </div>

    <div style=" width: 300px; margin: 30px auto;">
        <form class="d-flex input-group" method="get">
          <div class="form-outline">
            <input name="query" value="{{ request.GET.query }}" id="search-input" class="form-control" id="form1" type="search" placeholder="Search" style="width: 250px;">
          </div>
          <button type="submit"  id="search-button" class="btn" style="background-color: rgb(255, 161, 55)"><i class="fas fa-search" style="color: white;"></i></button>
        </form>
    </div>

    <div class="trend_tag question_tag">
        <p>トレンドタグ</p>
        {% if tag_rank %}
        <ul>
            {% for tag in tag_rank %}
              {% if tag.tag_count != 0 %}
                <li>#{{ tag.name }}</li>
              {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="time_line">
    {% if object_list%}
        {% for question in object_list %}
            <div class="card" style="width: 100%; margin-bottom: 10px;">
                <a href="{% url 'question_detail' question.pk %}" style="text-decoration: none;">
                    <div class="card-body">
                        <div style="padding-bottom: 10px;">
                            <p style="font-size: 1.5rem; color: black; font-weight: bold;">{{ question.title| truncatechars:30 }}</p>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <p style="margin: 0; color: rgb(167, 166, 166);">{{ question.question_date | date:"Y年m月d日" }}</p>
                            <p class="float-end" style="margin: 0;"><i class="fas fa-thumbs-up" style="color: rgb(167, 166, 166);"></i> {{question.question_good.count}}</p>
                        </div>
                    </div>
                 </a>
            </div>
        {% endfor %}
    {% else %}
        <p class="massage">該当する投稿はありませんでした。</p>
    {% endif %}
    </div>

    {% if user.is_authenticated %}
        <a href="{% url 'question_create' %}" class="stick-icon"><i class="fas fa-comment-dots fa-4x q_color"></i></a>
    {% endif %}

{% endblock %}