{% extends 'sns/q_base.html' %}
{% load static %}

{% block content %}
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-secondary btn-sm">戻る</a>
  
  <div class="card" style="width: 40%;">
    <div class="card-header">
      <h2>{{ question.title }}</h2>
      <p>{{ question.q_date }}</p>
      {% if account_pk == question.user %}
        <a href="{% url 'q_update' question.pk %}" class="btn btn-outline-secondary btn-sm">編集</a>
        <a href="{% url 'q_delete' question.pk %}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash-alt fa-lg"></i></a>
      {% endif %}

    </div>
      <p>{{ question.text }}</p>
      {% if question.q_image %}
        <img src="{{ question.q_image.url }}" style="width: 100%; height: auto;">
      {% endif %}
  </div>


{% endblock %}