{% extends 'sns/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <div class="card-header bg-primary text-light">
        <h4>サインアップ</h4>
      </div>
      <!-- カードボディー -->
      <div class="card-body">
        <form method="POST">
          <ul class="form_list" style="list-style: none;">
            <li>
              <label>メールアドレス</label>
              {{ form.email |add_class:"form-control" }}
              {{ form.email.errors }}
            </li>
            <li>
              <label>パスワード</label>
              {{ form.password1 |add_class:"form-control" }}
              {{ form.passwprd1.errors }}
              <ul class="help_text" style="color: rgb(146, 146, 146); font-size: 0.8rem;">
                <li>他の個人情報と似ているパスワードにはできません。</li>
                <li>最低8文字以上必要です。</li>
                <li>よく使われるパスワードにはできません。</li>
                <li>数字だけのパスワードにはできません。</li>
              </ul>
            </li>
            <li>
              <label>パスワード（確認）</label>
              {{ form.password2 |add_class:"form-control" }}
              {{ form.passwprd2.errors }}
            </li>
            <li>
              <label>ユーザーID</label>
              {{ form.username |add_class:"form-control" }}
              {{ form.username.errors }}
              <p style="color: rgb(146, 146, 146); font-size: 0.8rem; margin: 0;">※半角アルファベット、半角数字、@/./+/-/_</p>
            </li>
            <li>
              <label>ユーザーネーム</label>
              {{ form.first_name |add_class:"form-control" }}
              {{ form.first_name.errors }}
            </li>
            <li>
              <label>性別</label>
              {{ form.gender |add_class:"form-control" }}
              {{ form.gender.errors }}
            </li>
            <li>
              <label>生年月日</label>
              {{ form.birth_date |add_class:"form-control" }}
              {{ form.birth_date.errors }}
            </li>
            <li>
              <label>居住地</label>
              {{ form.location |add_class:"form-control" }}
              {{ form.location.errors }}
            </li>
          </ul><br>
          <button type="submit" class="btn btn-primary float-end" >登録</button>
          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>  
    {% csrf_token %}
{% endblock %}