{% extends 'sns/base.html' %}

{% block content %}

    {% for post in object_list %}
        <div>
            <a href="{% url 'mypage' post.user.username %}">{{ post.user.username }}</a>
            

            <p>{{ post.caption|linebreaksbr }}</p>
            <p>{{ post.post_date }}</p>
            <a href="{% url 'detail' post.pk %}">詳細</a>

            {% if request.user in post.good.all %}
            <a href="{% url 'good_top' post.pk %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-heart"></i></a>{{ post.good.count }}
            {% else %}
            <a href="{% url 'good_top' post.pk %}" class="like-btn" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-heart"></i></a>{{ post.good.count }}
            {% endif %}
            <p>-------------------------</p>
        </div>
    {% endfor %}

{% endblock %}