{% extends 'sns/base.html' %}

{% block content %}
<div class="form-box" style="width: 400px;">
  <form method="POST">
    {% csrf_token %}
    <p>アカウント <strong style="font-size: 150%;">{{ user.first_name }} (@{{ user.username }})</strong> を削除しますか？</p>
    <div class="float-end" style="margin-top: 20px;">
      <input class="btn btn-outline-danger btn-sm" style="width: 70px;" type="submit" value="削除する">
      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-secondary btn-sm">キャンセル</a>
    </div>
  </form>
</div>

    

{% endblock %}